* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  border: 1px solid black;
  width: 400px;
  height: 300px;
  padding: 50px;
  text-transform: capitalize;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-book {
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
}

dialog {
  padding: 50px;
  margin:0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form button {
  padding: 8px 24px;
}

.close-button {
  margin-top: 20px;
  padding: 8px 24px;
}

.delete-button {
    background-color: black;
    color: white;
    padding: 8px 24px;
    margin-top: 20px;
    
}

.toggle-button {
    background-color: white;
    color: black;
    padding: 8px 24px;
    margin-top: 20px;
}