* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 50px
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}